@media screen and (max-width: 767px) {
    .container {
        max-width: 737px;
        margin: 0 auto;
    }
    .row {
        display: flex;
        justify-content: none;
    }
    .header {
        height: 46px;
    }
    .header__content {
        display: none;
    }

    .header__tel {
        letter-spacing: 0.24px;
    }
    .header__style {
        font-size: 12px;
    }
    .left-block {
        margin: 0 auto;
    }
    .hero__title {
        text-align: center;
    }
    .hero__img-left {
        display: block;
        margin: 0 auto;
    }
    .hero--df {
        display: flex;
        flex-direction: column;
    }
    .right-block {
        width: 140px;
        margin: 136px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tree {
        display: none;
    }
    .hero__card {
        display: none;
    }
    .hero {
        height: 700px;
    }
    .about-company {
        margin-bottom: 25px;
    }
    .about-company__card {
        width: 707px;
        margin: 0 auto;
        overflow: hidden;
    }
    .about-company__title {
        padding-left: 19px;
    }
    .about-company__text {
        width: 670px;
        height: auto;
    }
    .about-company__text-block {
        padding: 0;
        padding-top: 20px;
    }

    .hero__img-tree {
        margin: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-company__card--height {
        height: 343px;
    }
    .our-projects {
        margin-bottom: 0;
    }
    .our-projects__row {
        display: flex;
        flex-direction: column;
    }
    .our-projects__title {
        text-align: center;
        order: 1;
        font-size: 18px;
    }
    .our-projects__img-block {
        width: 340px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .our-projects__img-logo {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .our-projects__left {
        margin-bottom: 12px;
    }
    .our-projects__img-1 {
        width: 707px;
    }
    .our-projects__cards--1 {
        width: 707px;
        bottom: 2px;
    }
    .our-projects__right {
        display: flex;
        width: 707px;
        justify-content: space-between;
    }
    .our-projects__img-2 {
        width: 340px;
        height: 290px;
    }
    .our-projects__img-3 {
        width: 340px;
        height: 290px;
    }

    .our-projects__cards--2 {
        width: 340px;
        bottom: 15px;
    }
    .our-projects__cards--3 {
        width: 340px;
        bottom: 15px;
    }
    .garden {
        background: none;
        box-shadow: none;

        height: auto;
    }
    .garden__header {
        display: flex;
        flex-direction: column;
        width: 707px;
        padding-top: 0;
    }
    .garden__img-block {
        border-bottom: 1px solid #34642c;
        width: 340px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .garden__img {
        display: none;
    }
    .garden__img-2 {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .garden__title {
        color: #34642c;
        order: 2;
        text-align: center;
        font-size: 18px;
    }
    .text-block {
        width: 707px;
        height: 80px;
    }
    .garden__text {
        display: none;
    }
    .garden__text-2 {
        display: block;
        padding: 10px 15px;
        width: auto;
    }
    .garden__card {
        width: 707px;
    }
    .garden__descr {
        margin-top: 40px;
    }
    .garden__card-items span {
        line-height: 22px;
    }
    .garden__footer {
        width: 630px;
        margin-top: 15px;
    }
    .landscape {
        margin-bottom: 50px;
    }
    .landscape__img-block {
        width: 340px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .landscape__row {
        display: flex;
        flex-direction: column;
    }
    .our-projects__title {
        padding-top: 0;
        margin-bottom: 30px;
    }
    .landscape__text-2 {
        display: block;
        padding: 10px 15px;
        width: 700px;
    }
    .landscape__text {
        display: none;
    }
    .landscape__grid-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .landscape__items-10 {
        display: none;
    }
    .landscape__items-adaptiv {
        display: block;
        margin-top: 0;
    }
    .reviews__items {
        width: 707px;
    }
    .reviews__text {
        margin: 0 auto;
    }
    .reviews-next {
        position: absolute;
        top: 160px;
        right: 50px;
        cursor: pointer;
        z-index: 999;
    }
    .reviews-prev {
        position: absolute;
        top: 160px;
        left: 50px;
        cursor: pointer;
        z-index: 999;
    }
    .landscape__img-arrow {
        display: block;
        width: 40px;
        margin: 20px auto;
        cursor: pointer;
    }
    .landscape__items--adaptiv {
        display: none;
    }

    .landscape__arrow-up {
        display: none;
        width: 40px;
        margin: 20px auto;
        cursor: pointer;
        transform: rotate(180deg);
    }
    .menu-btn {
        display: block;
    }
    .burger-menu__right-block {
        display: block;
    }
    .card {
        width: 600px;
        height: 253px;
    }
    .card__logo {
        display: none;
    }
    .consultation__title {
        text-align: center;
    }
    .consultation {
        margin-left: 0;
        height: 200px;
    }
    .consultation__form-input {
        margin-left: 60px;
    }
    .consultation__confidentiality {
        margin-left: 60px;
    }
    .modal-2 {
        display: none;
    }
    .main-slider {
        width: 707px;
        height: 850px !important;
    }
    .child-slider {
        width: 707px;
        height: 850px !important;
    }
    .child-slider__slider-header {
        width: 305px;
        height: 39px;
        flex-direction: column;

        margin: 40px auto;
    }
    .child-slider__slider-title {
        font-size: 18px;
        order: 2;
        margin-top: 0;
        text-align: center;
    }
    .child-slider__logo-block {
        width: 300px;
        margin: 0 auto;
        order: 1;
    }
    .child-slider__img-logo {
        order: 0;
        top: -31px;
        left: 125px;
    }
    .child-slider__left-block {
        width: 530px;
        margin-right: 0;
    }
    .child-slider__main-photo {
        width: 530px;
        height: 270px !important;
    }
    .child-slider__right-block {
        margin-top: 0;
    }
    .child-slider__row {
        flex-direction: column;
        width: 530px;
        margin: 0 auto;
    }
    .prev-main {
        position: absolute;
        top: 0;
        left: 0;
    }
    .next-main {
        display: block !important;
        position: absolute;
        top: 0;
        left: 0;
    }
    .main-prev {
        top: 70%;
        left: 0;
    }
    .main-next {
        top: 70%;
        left: 645px;
    }
    .child-slider__slider-nav {
        display: none !important;
    }
    .child-slider__price {
        margin: 20px 0;
    }
    .child-slider__price-2 {
        margin-left: 18px;
    }
}
@media screen and (max-width: 321px) {
    .container {
        max-width: 293px;
        margin: 0 auto;
    }
    .row {
        display: flex;
        justify-content: none;
    }
    .header {
        height: 46px;
    }
    .header__content {
        display: none;
    }

    .header__tel {
        letter-spacing: 0.24px;
    }
    .header__style {
        font-size: 12px;
    }
    .left-block {
        margin: 0 auto;
    }
    .hero {
        height: 570px;
        margin-bottom: 53px;
    }
    .hero__title {
        text-align: center;
        font-size: 14px;
        width: 200px;
        line-height: normal;
        margin-bottom: 16px;
    }
    .hero__img-left {
        display: block;
        margin: 0 auto;
        width: 171px;
        height: 166px;
        object-fit: cover;
    }
    .hero__link {
        width: 166px;
        height: 29px;
        font-size: 14px;
        padding: 0;
        margin: 0 auto;
    }
    .hero--df {
        display: flex;
        flex-direction: column;
    }
    .right-block {
        width: 140px;
        margin: 136px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tree {
        display: none;
    }
    .hero__card {
        display: none;
    }
    .about-company {
        margin-bottom: 25px;
    }
    .about-company__card {
        width: 263px;
        overflow: hidden;
        padding-bottom: 40px;
    }
    .about-company__title {
        padding-left: 19px;
        font-size: 14px;
    }
    .about-company__text {
        width: 230px;
        height: auto;
        font-size: 12px;
    }
    .about-company__text-block {
        padding: 0;
        padding-top: 20px;
    }
    .about-company__adaptiv {
        display: none;
    }
    .hero__img-tree {
        margin: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 134px;
        bottom: -30px;
    }
    .about-company__card--height {
        height: auto;
    }
    .about__company-mobile {
        display: none;
    }
    .about-company__arrow-up {
        display: none;
        position: absolute;
        bottom: 13px;
        left: 120px;
        cursor: pointer;
        transform: rotate(180deg);
    }
    .about-company__arrow-down {
        display: block;
        position: absolute;
        bottom: 13px;
        left: 120px;
        cursor: pointer;
    }
    .our-projects {
        margin-bottom: 0;
    }
    .our-projects__row {
        display: flex;
        flex-direction: column;
    }
    .our-projects__title {
        text-align: center;
        order: 1;
        font-size: 14px;
    }
    .our-projects__img-block {
        width: 134px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .our-projects__img-logo {
        display: block;
        float: none;
        margin: 0 auto;
        width: 15.371px;
        height: 12.612px;
    }
    .our-projects__left {
        margin-bottom: 12px;
    }
    .our-projects__img-1 {
        width: 263px;
        height: 333px;
    }
    .our-projects__cards--1 {
        width: 263px;
        bottom: 2px;
        font-size: 12px;
        height: 32px;
        line-height: 32px;
    }
    .our-projects__right {
        display: flex;
        width: 263px;
        justify-content: space-between;
    }
    .our-projects__img-2 {
        width: 122px;
        height: 100px;
    }
    .our-projects__img-3 {
        width: 122px;
        height: 100px;
    }

    .our-projects__cards--2 {
        line-height: 17px;
        width: 122px;
        bottom: 15px;
        height: 18px;
        font-size: 12px;
    }
    .our-projects__cards--3 {
        line-height: 17px;
        width: 122px;
        bottom: 15px;
        height: 18px;
        font-size: 12px;
    }
    .garden {
        background: none;
        box-shadow: none;

        height: auto;
    }
    .garden__header {
        display: flex;
        flex-direction: column;
        width: 263px;
        padding-top: 0;
    }
    .garden__img-block {
        border-bottom: 1px solid #34642c;
        width: 143px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .garden__img {
        display: none;
    }
    .garden__img-2 {
        display: block;
        float: none;
        margin: 0 auto;
        width: 15.371px;
        height: 12.612px;
    }
    .garden__title {
        color: #34642c;
        order: 2;
        text-align: center;
        font-size: 14px;
    }
    .text-block {
        width: 265px;
        height: 108px;
    }
    .garden__text {
        display: none;
    }
    .garden__text-2 {
        display: block;
        padding: 10px 15px;
        width: auto;
        font-size: 12px;
        text-align: justify;
        font-style: normal;
        font-weight: 300;
        line-height: 15.5px;
        padding: 9px 10px;
    }
    .garden__card {
        width: 264px;
        height: auto;
    }
    .garden__seasons-2 {
        margin: 22px 15px;
        display: flex;
        flex-direction: column;
        margin: 22px 15px;
    }
    .garden__row {
        display: none;
    }
    .garden__row-mobaile {
        display: block;
    }
    .garden__descr {
        margin-top: 0;
        width: 221px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .garden__descr-mobile {
        display: block;
    }
    .garden__items {
        width: 235px;
        height: 46px;
        line-height: 46px;
    }
    .garden__card-items span {
        font-size: 12px;
        line-height: 16px;
    }
    .garden__footer {
        display: none;
    }
    .landscape {
        margin-bottom: 50px;
    }
    .landscape__img-block {
        width: 134px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .landscape__row {
        display: flex;
        flex-direction: column;
    }
    .our-projects__title {
        padding-top: 0;
        margin-bottom: 30px;
    }
    .landscape__text-2 {
        display: block;
        width: 246px;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.6px;
    }
    .landscape__text {
        display: none;
    }
    .landscape__text-block {
        width: 265px;
        height: 114px;
    }
    .landscape__grid-columns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .landscape__items-text {
        font-size: 12px;
    }
    .landscape__img {
        width: 265px;
        height: 101px;
    }
    .landscape__items-10 {
        display: none;
    }
    .landscape__items-adaptiv {
        display: block;
        margin-top: 0;
    }
    .reviews {
        z-index: 9999;
        position: relative;
    }
    .mobile-tree {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .reviews__items {
        width: 214px;
        height: 274px;
        background: rgba(239, 239, 239, 0.61);
    }
    .reviews__row {
        display: flex;
    }
    .reviews__circle {
        margin-right: 29px;
        margin-bottom: 14px;
        margin-left: 15px;
    }
    .reviews__circle svg {
        width: 51px;
        height: 51px;
    }
    .reviews__text {
        margin: 0 auto;
    }
    .reviews-next {
        width: 22.213px;
        height: 28.655px;
        position: absolute;
        top: 200px;
        right: -25px;
        cursor: pointer;
        z-index: 999;
    }
    .reviews-prev {
        width: 22.213px;
        height: 28.655px;
        position: absolute;
        top: 200px;
        left: -25px;
        cursor: pointer;
        z-index: 999;
    }
    .reviews__name {
        margin-top: 15px;
    }
    .reviews__img-block {
        width: 134px;
    }
    .reviews__img {
        width: 134px;
    }
    .reviews__text {
        text-align: justify;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 199px;
        color: #000;
    }
    .footer {
        height: 130px;
    }
    .footer__bg {
        display: none;
    }
    .footer__items-2 {
        display: none;
    }
    .footer__grass {
        display: block;
        position: absolute;
        object-fit: cover;
        bottom: 0;
        left: 0;
    }
    .footer__items {
        width: 150px;
    }
    .footer__contact {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .footer__link:not(:last-child) {
        margin-right: 17px;
    }
    .footer__items-3 {
        width: 80px;
        height: 17px;
        margin-top: 30px;
    }
    .footer__row {
        padding-top: 15px;
        width: 263px;
        justify-content: space-between;
    }
    .footer__icons {
        margin-bottom: 0;
    }
    .footer__city {
        display: none;
    }
    .footer__city-2 {
        display: block;
        display: flex;
    }
    .footer__tel {
        display: none;
    }
    .footer__tel-row {
        width: 170px;
        flex-direction: column;
    }
    .footer__tel-img {
        margin-right: 3px;
    }
    .footer__location {
        margin-right: 3px;
    }
    .footer__icon {
        width: 12px;
        height: 12px;
        object-fit: cover;
    }
    .footer__text {
        font-size: 12px;
    }
    .reviews__text-reviews {
        font-size: 14px;
    }
    .landscape__img-arrow {
        display: block;
        width: 40px;
        margin: 20px auto;
        cursor: pointer;
    }
    .landscape__items--adaptiv {
        display: none;
    }

    .landscape__arrow-up {
        display: none;
        width: 40px;
        margin: 20px auto;
        cursor: pointer;
        transform: rotate(180deg);
    }
    .menu-btn {
        display: block;
    }
    .burger-menu__right-block {
        display: block;
    }
    .card {
        width: 294px;
        height: 286px;
    }
    .consultation__link {
        order: 2;
    }
    .consultation__checkbox {
        order: 2;
    }
    .card__logo {
        display: none;
    }
    .consultation__title {
        text-align: center;
    }
    .consultation {
        margin-left: 0;
        height: 240px;
        margin-top: 33px;
    }
    .consultation__title {
        font-size: 11px;
        letter-spacing: 0.165px;
        text-transform: uppercase;
    }

    .consultation__form-input {
        margin-left: 20px;
        width: 237px;
        height: 35px;
        margin-bottom: 13px;
        border-radius: 5px;
    }
    .consultation__confidentiality {
        margin-left: 20px;
        font-size: 10px;
        order: 2;
    }

    .consultation__checkbox {
        width: 12px;
        height: 12px;
        order: 2;
        display: inline-block;
        margin-right: 8px;
    }
    .consultation__submit {
        width: 237px;
        height: 35px;
        order: 0;
        margin-left: 0;
        display: none;
    }
    .consultation__submit-2 {
        display: block;
        margin-left: 20px;
        margin-bottom: 26px;
    }
    .modal-2 {
        display: none;
    }
    .main-slider {
        width: 318px;
        height: 700px !important;
    }
    .child-slider {
        width: 318px;
        height: 700px !important;
    }
    .child-slider__slider-header {
        width: 305px;
        height: 39px;
        flex-direction: column;
        margin: 40px auto;
        margin-bottom: 15px;
        height: 29px;
    }
    .child-slider__items span{
        font-size: 12px;
    }
    .child-slider__slider-title {
        font-size: 18px;
        order: 2;
        margin-top: 0;
        text-align: center;
    }
    .child-slider__logo-block {
        width: 134px;
        margin: 0 auto;
        order: 1;
    }
    .child-slider__img-logo {
        order: 0;
        top: -11px;
        left: 60px;
        width: 15.371px;
        height: 12.612px;
    }
    .child-slider__slider-title {
        font-size: 14px;
    }
    .child-slider__left-block {
        width: 263px;
        margin-right: 0;
    }
    .child-slider__main-photo {
        width: 263px;
        height: 137px !important;
    }
    .child-slider__right-block {
        margin-top: 0;
    }
    .child-slider__row {
        flex-direction: column;
        width: 263px;
        margin: 0 auto;
    }
    .prev-main {
        position: absolute;
        top: 0;
        left: 0;
    }
    .next-main {
        display: block !important;
        position: absolute;
        top: 0;
        left: 0;
    }
    .main-prev {
        top: 70%;
        left: 4px;
        width: 26px;
        height: 30px;
    }
    .main-next {
        top: 70%;
        left: 290px;
        width: 26px;
        height: 30px;
    }
    .child-slider__slider-nav {
        display: none !important;
    }
    .child-slider__price {
        margin: 20px 0;
    }
    .child-slider__price-2 {
        margin-left: 18px;
    }
}
